* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
    background-color: #FFEEAD;
    font-family: Trebuchet MS, serif;
}

h1.title {
    font-size: 3.5em;
    text-align: center;
    color: #ffad60;
    margin-top: 20px;
    margin-bottom: 20px;
}

#game {
    margin: auto;
    width: 450px;
    height: 500;
}

#board svg {
    width: 100%;
    height: 100%;
}
.board-line {
    stroke: #ffad60;
    stroke-width: .05;
}

.edge {
    stroke: #ffad60;
    stroke-width: 2;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

#board .mark {
    stroke-dasharray: 26;
    stroke-dashoffset: 26;
    animation: dash .3s ease-in forwards;
}

#board .win.nought {
    stroke-dashoffset: 0;
    animation: colorChange 1s forwards;
}

#board .win.cross {
    stroke-dashoffset: 0;
    animation: colorChange 1s forwards;
}

.cross.mark {
    stroke: #666;
    stroke-width: 1;
}

.nought.mark {
    stroke: #d9534f;
    stroke-width: 1;
}

#tree .mark {
    stroke: #ffad60;
    stroke-width: 1;
}

#tree .cross.new {
    stroke: #666;
    stroke-width: 1;
    animation: none;
}

#tree .nought.new {
    stroke: #d9534f;
    stroke-width: 1;
    animation: none;
}

rect[class^="panel-"], rect[class*=" panel-"] {
    fill: transparent;
}

#reset {
    border: 5px solid #ffad60;
    background-color: transparent;
    color: #ffad60;
    font-size: 2em;
    cursor: pointer;
    border-radius: 20px;
    outline: 0;
    margin-top: 20px;
    width: 100%;
}

@keyframes colorChange {
    100%{stroke: #5bc0de}
}

.win.nought {
    animation: colorChange 1s forwards;
}

.win.cross {
    animation: colorChange 1s forwards;
}

#tree {
    width: 100%;
    height: 5000px;
}


.explore text {
    font-size: 3px;
    font-family: Trebuchet MS, serif;
    fill: #666;
}

.explore rect {
    fill: transparent;
    rx: 1px;
    ry: 1px;
}

rect {
    fill: transparent;
}


.post {
    margin: auto;
    width: 960px;
}

.post h2 {
    color: #d9534f;
}

.post p {
    color: #333;
}









